@define-mixin media-query-large-desktop {
  @media (min-width: 1441px) {
    @mixin-content;
  }
}
@define-mixin media-query-desktop {
  @media (min-width: 1248px) {
    @mixin-content;
  }
}

@define-mixin media-query-large-tablet {
  @media (min-width: 1024px) {
    @mixin-content;
  }
}

@define-mixin media-query-tablet {
  @media (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin visually-hidden {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

@define-mixin bmi-app-gradient {
  background-image: linear-gradient(
    to left top,
    #d6e6fe 0%,
    #d6fcfe50 50%,
    #d6fcfe00 100%
  );
}
