@import "./_css-reset.css";
@import "./_mixins.css";
@import "./_fonts.css";

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-blue: hsl(227, 92%, 58%);
  --color-blue-15: hsla(227, 92%, 58%, 0.15);
  --color-gunmetal: hsl(215, 31%, 21%);
  --color-dark-electric-blue: hsl(215, 17%, 45%);
  --color-error: hsl(0, 100%, 74%);
  --default-font-family: Inter, sans-serif;
  --default-font-size: 16px;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --content-width-desktop: 1160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--default-font-family);
  font-variation-settings: "wght" var(--fw-regular);
  font-size: var(--default-font-size);
  color: var(--color-gunmetal);
  background-color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-inline-size: 100%;
  object-fit: cover;
}

#curved-background {
  width: 100%;
  height: 640px;
  position: absolute;
  top: 0;
  left: 0;
  @mixin bmi-app-gradient;
  border-radius: 0 0 35px 35px;
  background-color: var(--color-white);
  z-index: -1;

  @mixin media-query-desktop {
    width: 978px;
    height: 737px;
    left: 1.5rem;
  }
  @mixin media-query-large-desktop {
    width: 60%;
  }
}

header {
  --logo-size: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0 0;

  & img {
    width: var(--logo-size);
    height: var(--logo-size);
  }

  @mixin media-query-desktop {
    --logo-size: 64px;
    width: var(--content-width-desktop);
    margin: 0 auto;
    justify-content: start;
    padding: 4.6875rem 0 0; /* 75px */
  }
}

main {
  width: 100%;

  & #page-heading-content {
    padding: 1.5rem 1.5rem 0;
    & h1 {
      font-size: 3rem; /* 48px */
      font-variation-settings: "wght" var(--fw-semi-bold);
      line-height: 1.1;
      text-align: center;
      display: flex;
      flex-direction: column;
    }

    & p {
      font-size: 1rem;
      font-variation-settings: "wght" var(--fw-regular);
      line-height: 1.5;
      color: var(--color-dark-electric-blue);
      letter-spacing: -0.5px;
      text-align: center;
      margin-top: 1.5rem;
    }
  }

  & #bmi-form--wrapper {
    width: 100%;
    background-color: var(--color-white);
    border-radius: 16px;
    padding: 1.5rem;
    margin-top: 3rem;
    box-shadow: 16px 32px 56px 0 #8faecf25;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  & #bmi-result-meaning--wrapper {
    padding-top: 4.5rem;
    & .title-block {
      padding: 3rem 1.5rem 0;
      & h2 {
        font-size: 2rem;
        font-variation-settings: "wght" var(--fw-semi-bold);
        line-height: 1.1;
        letter-spacing: -0.7px;
      }

      & p {
        font-size: 1rem;
        line-height: 1.5;
        color: var(--color-dark-electric-blue);
        margin-top: 2rem;
      }
    }

    & #curved-line-left {
      display: none;
    }
  }

  & #healthy-lifestyle-block {
    margin-top: 4.5rem;
    @mixin bmi-app-gradient;
    & .section-wrapper {
      padding: 3.5rem 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      & section {
        --icon-size: 64px;
        & img {
          width: var(--icon-size);
          height: var(--icon-size);
        }
        & h3 {
          font-size: 1.5rem;
          font-variation-settings: "wght" var(--fw-semi-bold);
          letter-spacing: -0.7px;
          margin: 2rem 0 1.5rem;
        }

        & p {
          font-size: 1rem;
          line-height: 1.5;
          color: var(--color-dark-electric-blue);
        }
      }
    }
  }

  & #limitations-of-bmi-block {
    margin: 72px 0;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & .title-block {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 40px;
      & h2 {
        font-size: 2rem;
        font-variation-settings: "wght" var(--fw-semi-bold);
        line-height: 1.1;
        letter-spacing: -0.7px;
      }
      & p {
        font-size: 1rem;
        line-height: 1.5;
        color: var(--color-dark-electric-blue);
      }
    }
    & #curved-line-right {
      display: none;
    }

    & section {
      --icon-size: 32px;
      border-radius: 16px;
      padding: 1.5rem;
      background-color: var(--color-white);
      box-shadow: 16px 32px 56px 0 #8faecf25;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & .section-header {
        display: flex;
        gap: 1rem;
        align-items: center;
        & img {
          width: var(--icon-size);
          height: var(--icon-size);
        }

        & h3 {
          font-size: 1.25rem; /* 20px */
          font-variation-settings: "wght" var(--fw-semi-bold);
          letter-spacing: -0.7px;
        }
      }

      & p {
        font-size: 1rem;
        line-height: 1.5;
        color: var(--color-dark-electric-blue);
      }
    }
  }

  @mixin media-query-tablet {
    & #page-heading-content {
      padding: 2.5rem 2.5rem 0;
    }

    & #bmi-form--wrapper {
      margin-top: 2.5rem;
      padding: 2rem;
      gap: 2rem;
    }

    & #bmi-result-meaning--wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 75px;
      padding-right: 42px;

      & .img--wrapper {
        & img {
          height: 100%;
          object-position: center right;
        }
      }

      & .title-block {
        padding: 0;
        margin-top: 35px;
        width: 331px;
        height: 342px;
      }
    }

    & #healthy-lifestyle-block {
      margin-top: 96px;

      & .section-wrapper {
        padding: 3.75rem 2.5625rem;

        & section {
          display: grid;
          grid-template-columns: auto 1fr;
          align-items: center;
          column-gap: 2.5rem;
          row-gap: 1.5rem;

          & h3 {
            margin: 0;
          }

          & p {
            margin-top: 1.5rem;
          }
        }
      }
    }

    & #limitations-of-bmi-block {
      margin: 96px 0;
      padding: 0 2.265rem;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 1rem;
      row-gap: 1.5rem;
      & .title-block {
        & h2 {
          text-align: center;
        }
        & p {
          text-align: center;
          padding: 0 1rem;
        }
      }

      & section {
        width: 335.5px;
        padding: 2rem;
      }
    }
  }

  @mixin media-query-desktop {
    padding: 0;

    & #page-heading-content {
      width: var(--content-width-desktop);
      margin: 0 auto;
      padding: 0;
      /* min-height: 667px; */
      min-height: 598px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;

      & #page-heading-wrapper {
        margin-top: 127px;

        & h1 {
          font-size: 4rem; /* 64px */
          text-align: left;
        }

        & p {
          text-align: left;
          margin-top: 2.1875rem;
          padding-right: 99px;
          letter-spacing: 0;
        }
      }
      & #bmi-form--wrapper {
        margin: 0;
        margin-top: 2.6875rem;
      }
    }

    & #bmi-result-meaning--wrapper {
      width: var(--content-width-desktop);
      margin: 0 auto;
      margin-top: 65px;
      padding-top: 0;
      gap: 131px;
      position: relative;

      & .img--wrapper {
        width: 564px;
        height: 533px;
        & img {
          object-position: center;
        }
      }

      & .title-block {
        padding: 0;
        margin: 0;
        width: 465px;
        height: 309px;
        align-self: end;
        margin-bottom: 2.5rem;

        & h2 {
          font-size: 3rem;
          letter-spacing: -1px;
        }

        & p {
          margin-top: 2.1875rem;
        }
      }

      & #curved-line-left {
        width: 85px;
        height: 200px;
        display: block;
        position: absolute;
        top: -52px;
        right: 27px;
      }
    }

    & #healthy-lifestyle-block {
      margin: 96px 1.5rem 0;
      border-radius: 35px;
      & .section-wrapper {
        width: var(--content-width-desktop);
        margin: 0 auto;
        padding: 72px 0 96px;
        flex-direction: row;

        & section {
          display: grid;
          grid-template-columns: 1fr;
          gap: 45px;
        }
      }
    }

    & #limitations-of-bmi-block {
      width: var(--content-width-desktop);
      margin: 120px auto;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
        "title title title gender gender gender"
        "age age age age muscle muscle"
        "pregnancy pregnancy pregnancy race race race";
      gap: 2rem;
      position: relative;
      & .title-block {
        width: 564px;
        margin: 0;
        grid-area: title;
        gap: 35px;
        & h2 {
          font-size: 3rem;
          text-align: left;
        }
        & p {
          text-align: left;
          padding: 0;
        }
      }
      & #curved-line-right {
        display: block;
        width: 94px;
        height: 122px;
        position: absolute;
        top: 251px;
        left: 165px;
      }

      & section {
        width: 365px;
        &#section-gender {
          grid-area: gender;
          justify-self: center;
        }
        &#section-age {
          grid-area: age;
          justify-self: end;
        }
        &#section-muscle {
          grid-area: muscle;
          justify-self: end;
        }
        &#section-pregnancy {
          grid-area: pregnancy;
          justify-self: end;
        }
        &#section-race {
          grid-area: race;
        }
      }
    }
  }
}
