@import "./_css-reset.css";
@import "./_mixins.css";
@import "./_fonts.css";

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-blue: hsl(227, 92%, 58%);
  --color-blue-15: hsla(227, 92%, 58%, 0.15);
  --color-gunmetal: hsl(215, 31%, 21%);
  --color-dark-electric-blue: hsl(215, 17%, 45%);
  --color-error: hsl(0, 100%, 74%);
  --default-font-family: Inter, sans-serif;
  --default-font-size: 16px;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --content-width-desktop: 1160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--default-font-family);
  font-variation-settings: "wght" var(--fw-regular);
  font-size: var(--default-font-size);
  color: var(--color-gunmetal);
  background-color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-inline-size: 100%;
  object-fit: cover;
}

#curved-background {
  width: 100%;
  height: 640px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
      to right bottom,
      transparent 0%,
      #d6e6fe 100%
    ),
    linear-gradient(to left top, #d6fcfe 0%, transparent 100%);
  border-radius: 0 0 35px 35px;
  background-color: var(--color-white);
  z-index: -1;

  @mixin media-query-desktop {
    width: 978px;
    height: 737px;
    left: 1.5rem;
  }
}

header {
  --logo-size: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0 0;

  & img {
    width: var(--logo-size);
    height: var(--logo-size);
  }

  @mixin media-query-desktop {
    --logo-size: 64px;
    width: var(--content-width-desktop);
    margin: 0 auto;
    justify-content: start;
    padding: 4.6875rem 0 0; /* 75px */
  }
}

main {
  width: 100%;

  & #page-heading-content {
    padding: 1.5rem 1.5rem 0;
    & h1 {
      font-size: 3rem; /* 48px */
      font-variation-settings: "wght" var(--fw-semi-bold);
      line-height: 1.1;
      text-align: center;
      display: flex;
      flex-direction: column;
    }

    & p {
      font-size: 1rem;
      font-variation-settings: "wght" var(--fw-regular);
      line-height: 1.5;
      color: var(--color-dark-electric-blue);
      letter-spacing: -0.5px;
      text-align: center;
      margin-top: 1.5rem;
    }
  }

  & #bmi-form--wrapper {
    width: 100%;
    background-color: var(--color-white);
    border-radius: 16px;
    padding: 1.5rem;
    margin-top: 3rem;
    box-shadow: 16px 32px 56px 0 #8faecf25;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  & #bmi-result-meaning--wrapper {
    padding-top: 4.5rem;
    & #title-block {
      padding: 3rem 1.5rem 0;
      & h2 {
        font-size: 2rem;
        font-variation-settings: "wght" var(--fw-semi-bold);
        line-height: 1.1;
        letter-spacing: -0.7px;
      }

      & p {
        font-size: 1rem;
        line-height: 1.5;
        color: var(--color-dark-electric-blue);
        margin-top: 2rem;
      }
    }
  }

  & #healthy-lifestyle-block {
    margin-top: 4.5rem;
    background-image: linear-gradient(
        to right bottom,
        transparent 0%,
        #d6e6fe 100%
      ),
      linear-gradient(to left top, #d6fcfe 0%, transparent 100%);
    & .section-wrapper {
      padding: 3.5rem 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      & section {
        --icon-size: 64px;
        & img {
          width: var(--icon-size);
          height: var(--icon-size);
        }
        & h3 {
          font-size: 1.5rem;
          font-variation-settings: "wght" var(--fw-semi-bold);
          letter-spacing: -0.7px;
          margin: 2rem 0 1.5rem;
        }

        & p {
          font-size: 1rem;
          line-height: 1.5;
          color: var(--color-dark-electric-blue);
        }
      }
    }
  }

  @mixin media-query-tablet {
    & #page-heading-content {
      padding: 2.5rem 2.5rem 0;
    }

    & #bmi-form--wrapper {
      margin-top: 2.5rem;
      padding: 2rem;
      gap: 2rem;
    }

    & #bmi-result-meaning--wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 75px;
      padding-right: 42px;

      & #img--wrapper {
        width: 319px;

        & img {
          height: 100%;
          object-position: -80px 50%;
        }
      }

      & #title-block {
        padding: 0;
        margin-top: 35px;
        width: 331px;
        height: 342px;
      }
    }

    & #healthy-lifestyle-block {
      margin-top: 96px;

      & .section-wrapper {
        padding: 3.75rem 2.5625rem;

        & section {
          display: grid;
          grid-template-columns: auto 1fr;
          align-items: center;
          column-gap: 2.5rem;
          row-gap: 1.5rem;

          & h3 {
            margin: 0;
          }

          & p {
            margin-top: 1.5rem;
          }
        }
      }
    }
  }

  @mixin media-query-desktop {
    padding: 0;

    & #page-heading-content {
      width: var(--content-width-desktop);
      margin: 0 auto;
      padding: 0;
      min-height: 667px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;

      & #page-heading-wrapper {
        margin-top: 127px;

        & h1 {
          font-size: 4rem; /* 64px */
          text-align: left;
        }

        & p {
          text-align: left;
          margin-top: 2.1875rem;
          padding-right: 99px;
          letter-spacing: 0;
        }
      }
      & #bmi-form--wrapper {
        margin: 0;
        margin-top: 2.6875rem;
      }
    }

    & #bmi-result-meaning--wrapper {
      width: var(--content-width-desktop);
      margin: 0 auto;
      padding-top: 0;
      gap: 131px;

      & #img--wrapper {
        width: 100%;

        & img {
          object-position: center;
        }
      }

      & #title-block {
        padding: 0;
        margin: 0;
        width: 465px;
        height: 309px;
        align-self: end;
        margin-bottom: 2.5rem;

        & h2 {
          font-size: 3rem;
          letter-spacing: -1px;
        }

        & p {
          margin-top: 2.1875rem;
        }
      }
    }

    & #healthy-lifestyle-block {
      margin: 96px 1.5rem 0;
      border-radius: 35px;
      & .section-wrapper {
        width: var(--content-width-desktop);
        margin: 0 auto;
        padding: 72px 0 96px;
        flex-direction: row;

        & section {
          display: grid;
          grid-template-columns: 1fr;
          gap: 45px;
        }
      }
    }
  }
}
