@import "./_css-reset.css";
@import "./_mixins.css";
@import "./_fonts.css";

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-blue: hsl(227, 92%, 58%);
  --color-blue-15: hsla(227, 92%, 58%, 0.15);
  --color-gunmetal: hsl(215, 31%, 21%);
  --color-dark-electric-blue: hsl(215, 17%, 45%);
  --color-error: hsl(0, 100%, 74%);
  --default-font-family: Inter, sans-serif;
  --default-font-size: 16px;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --content-width-desktop: 1160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--default-font-family);
  font-variation-settings: "wght" var(--fw-regular);
  font-size: var(--default-font-size);
  color: var(--color-gunmetal);
  background-color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-inline-size: 100%;
  object-fit: cover;
}

#curved-background {
  width: 100%;
  height: 640px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
      to right bottom,
      transparent 0%,
      #d6e6fe 100%
    ),
    linear-gradient(to left top, #d6fcfe 0%, transparent 100%);
  border-radius: 0 0 35px 35px;
  background-color: var(--color-white);
  z-index: -1;

  @mixin media-query-desktop {
    width: 978px;
    height: 737px;
    left: 1.5rem;
  }
}

header {
  --logo-size: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0 0;

  & img {
    width: var(--logo-size);
    height: var(--logo-size);
  }

  @mixin media-query-desktop {
    --logo-size: 64px;
    width: var(--content-width-desktop);
    margin: 0 auto;
    justify-content: start;
    padding: 4.6875rem 0 0; /* 75px */
  }
}

main {
  width: 100%;
  padding: 1.5rem 1.5rem 0;

  & h1 {
    font-size: 3rem; /* 48px */
    font-variation-settings: "wght" var(--fw-semi-bold);
    line-height: 1.1;
    text-align: center;
  }

  & p {
    font-size: 1rem;
    font-variation-settings: "wght" var(--fw-regular);
    line-height: 1.5;
    color: var(--color-dark-electric-blue);
    letter-spacing: -0.5px;
    text-align: center;
    margin-top: 1.5rem;
  }

  & #bmi-form--wrapper {
    width: 100%;
    background-color: var(--color-white);
    border-radius: 16px;
    padding: 1.5rem;
    margin-top: 3rem;
    box-shadow: 16px 32px 56px 0 #8faecf25;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  @mixin media-query-tablet {
    padding: 2.5rem 2.5rem 0;

    & #bmi-form--wrapper {
      margin-top: 2.5rem;
      padding: 2rem;
      gap: 2rem;
    }
  }

  @mixin media-query-desktop {
    padding: 0;
    width: var(--content-width-desktop);
    margin: 0 auto;

    & #page-heading-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      min-height: 667px;

      & #page-heading-wrapper {
        margin-top: 127px;

        & h1 {
          font-size: 4rem; /* 64px */
          text-align: left;
          padding-right: 3rem;
        }

        & p {
          text-align: left;
          margin-top: 2.1875rem;
          padding-right: 99px;
          letter-spacing: 0;
        }
      }
      & #bmi-form--wrapper {
        margin: 0;
        margin-top: 2.6875rem;
      }
    }
  }
}
