@import "../../../css/_css-reset.css";
@import "../../../css/_mixins.css";

:host *,
:host *:before,
:host *:after {
  box-sizing: border-box;
}

:host {
  @mixin visually-hidden;

  & .hidden {
    display: none !important;
  }

  & #bmi-calculator-info {
    min-height: 135px;
    padding: 2rem;
    background-color: var(--color-blue);
    border-radius: 16px;
    color: var(--color-white);

    & #welcome-message {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & h3 {
        font-size: 1.5rem;
        font-variation-settings: "wght" var(--fw-semi-bold);
        /* line-height: 1; */
        letter-spacing: -0.7px;
      }

      & p {
        font-size: 0.875rem; /* 14px */
        font-variation-settings: "wght" var(--fw-regular);
        line-height: 1.5;
      }
    }

    & #bmi-result {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      & #bmi-display {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        & #bmi-display-label {
          font-size: 1rem;
          font-variation-settings: "wght" var(--fw-semi-bold);
          line-height: 1.5;
        }
        & #bmi-display-value {
          font-size: 3rem; /* 48px */
          font-variation-settings: "wght" var(--fw-semi-bold);
          line-height: 1.1;
          letter-spacing: -0.7px;
        }
      }

      & #bmi-classification {
        font-size: 0.875rem; /* 14px */
        line-height: 1.5;

        & strong {
          font-variation-settings: "wght" var(--fw-semi-bold);
        }
      }
    }
  }

  @mixin media-query-tablet {
    & #bmi-calculator-info {
      --circle-radius: 150px;
      border-radius: 16px var(--circle-radius) var(--circle-radius) 16px;

      & #bmi-result {
        flex-direction: row;
        align-items: center;
        & #bmi-display {
          flex: 1;
        }

        & #bmi-classification {
          flex: 1;
        }
      }
    }
  }

  @mixin media-query-desktop {
    & #bmi-calculator-info {
      & #bmi-result {
        & #bmi-display {
          & #bmi-display-value {
            font-size: 4rem; /* 64px */
          }
        }
      }
    }
  }
}
